

$main-color: #DCCA87;
    $font-color: #AAAAAA;
    $accent-color: #F5EFDB;
    $accent-font-color: #ffff;
    $button-color: #0C0C0C;
    $signature-font: 'Bestermind', sans-serif;
    $main-font: "Cormorant Upright", serif;
    $accent-font: 'Open Sans', sans-serif;
    $bg-color: #0C0C0C;